.page{
    
    margin: auto;
    border: solid black 5px;
    height: 60vh;
    width: 60vw;
    text-align: center;
    background-color: linear-gradient(to top right, );
    
}
.txt{
    margin-top: 10rem;
    height:20vh;
    border:solid rgb(254, 25, 202)  5px;
    color:gray;
    background:linear-gradient(to top left, #000088, #0000ff);
    text-align: center;
    
}

