
.score{
    
    background-position: cover;
    display: flex;
    justify-content: space-around;
    height: 14vh;
    align-items: flex-start;
}
.score2{
    display: flex;
    justify-content: center;
}
.score2 .p1{
    display: inline;
    margin-left: 50rem;
    margin-top: 2rem;

}
.score2 h2{
    background: linear-gradient(to top left, #000088, #0000ff);
    color: aliceblue;
}
.p1{
    text-align: center;
    display: block;
}
.p1 h3{
    cursor: pointer;

}
.score h2 {
    background: linear-gradient(to top left, #000088, #0000ff);
    color: aliceblue;
}
.p2{
    text-align: center;
    margin-top: 2rem;
}
.reset{
    text-align: center;
    position: absolute;

}
.reset p{
    margin-top: 4rem;
}
.reset h1{
    background-color: rgba ;
    font-size: 4rem;
    color: blue;
}
.score h3{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.507);
}
.p2 h3 :hover {
    font-weight: bolder;
}


