.page{
    margin: auto;
    height: 80vh;
    width: 80vw;
    border: solid 3px black;
    display: flex;

}
.gamepage{
    margin:auto;
    height:37vh;
    width: 37vw;
    border: solid black 2px;

}

.studypage{
    margin: auto;
    height:37vh;
    width: 37vw;
    border: solid black 2px;
}