.page{
  height: 100vh;
}
.page{
  
  display:grid;
  grid-template-columns : 20% 20% 20% 20% 20%;
  height: 100vh
  
}
.core{
  border: solid black 5px;
  grid-column-start: ;
  height: 100vh
 
  
}
.core li{
  height:15%;
  border: solid black 2px;
  text-decoration: none;
}
.category{
  border: solid black 2px
}